.navbar-brand{
    margin-left: 100px;
 
    
}

navbar{background-color: black !important;

}

.im{margin-left: 200px;

}
.fa-map-marker{color: blue !important; margin-left: 20px;



}
.list-group{ margin-top: 20px;
    justify-content: space-around;

}
.btn{background-color: grey !important; width: 200px;
    margin-left: 50px;
    margin-top: 20px; 
    
   

}
.dropdown{ display: inline-block;
    text-align: right;
}

.se{
    background-color: aqua;
   color: rosybrown;
   font-weight: bold;
   height: 40px;
}
.d{display: inline-block;

}


.d > a{
    background-color: red !important;
}


.title{background-color: gray;

}



.up{margin-top: 30px;

}
.col{margin-top: 20px;

}
.we{ margin-top: 20px;

}
.q{color: red !important;
    font-size: 32px !important;
    font-weight: bold;


}
.r{ text-align: justify !important;
    margin-top: 20px !important;

}
.row{margin-left: 50px !important;
   

}
;
    


.main{background-color: aqua;
   margin-top: 30px;

   
   
}
.h{margin-left: 70px;
    display: inline-block;

}
.foot {
    display: inline-block !important; margin-left: 70px;
    color: gray;
   margin-top: 10px;
}

.next{
display: inline-block !important;
margin-bottom: 90px;
}
#s{color: red;

}
.rew{background-color: black !important;
    height: 290px;
 

}
.hello{margin-top: 20px !important; color: #fff;

}
.hover:hover{color: blue !important;

}
.hover{
    margin-left: 20px;
}

.cl{color: #fff !important; 

}

.g{font-size: 30px;
    text-align: center;
    color: blue !important;
    height: 80px ;
    margin-top: 40px;
    font-weight: bold;
    box-shadow: 5px 10px 18px  #ccc;
    padding-top: 20px;
}

.carousel-inner{text-align: center !important;

}
.ma{
   
    margin-top: 20px !important;
}
.t{margin-top: 40px !important;

}
.hw{font-size: 22px;
    font-weight: bold;

}

.bl{background-color: blue;
    color: #fff;
    height: 40px;
    padding-top: 7px;

}
.gr{background-color: gainsboro;

}
.k{text-align: center;
    font-weight: bold;

}

.footer{ background-color: gray;
    color: #fff;
    

}

.f{margin-top: 30px;

}
.n{color: #fff !important;
    background-color: grey;

}
.a{
    background-color: red !important;
}

.u{margin-top: 20px;

}
.mis{color: black;
    font-weight: bold;
    font-size:20px ;
    margin-top: 30px;

}
.btn{text-align: center !important;

}
.f{margin-top: 20px;

}